* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logo a {
  text-decoration: none;
}
.nav .logo h1 {
  font-weight: 600;
  font-family: sans-serif;
  color: #000;
}
.nav .logo b {
  color: #ff511c;
}
.nav ul {
  display: flex;
  list-style: none;
}
.nav ul li {
  margin-right: 30px;
}
.nav ul a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 17px;
}
.nav ul a:hover {
  border: 5px solid #ff511c;
  cursor: pointer;
}
input {
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 600;
}
input:hover {
  color: #000;
  background-color: #ff511c;
  transition: 0.3s;
  border-radius: 5px;
}
.signin {
  background: transparent;
  border: none;
}
.signup {
  background-color: #ff511c;
  color: #ffff;
  outline: none;
  border: none;
  border-radius: 5px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 20px;
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}
.item img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  cursor: pointer;
  transition: 0.2s ease;
}
.item img:hover {
  transform: scale(1.04);
}
.item h4 {
  padding: 5px;
  text-align: center;
}
.item button {
  padding: 5px 30px;
  border: none;
  background-color: #ff511c;
  color: #000;
  cursor: pointer;
  border-radius: 4px;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  transition: 0.2s all;
}
.item button:hover {
  transform: scale(1.08);
}
@media screen and (max-width: 1000px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
}
